body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: black; /* Set the body text to black */
}

header {
    background-color: #115697;
    padding: 20px;
    text-align: center;
}

.header-container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.contact-buttons a {
    color: white;
    background-color: #0875C2;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}

.contact-buttons a:hover {
    background-color: #04689A;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.incident-section h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #115697;
}

/* Legend styles */
.legend {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.legend-item .incident-status {
    margin-right: 5px;
}

/* Incident styles */
.incident-statuses {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-top: 10px;
}

/* Customize incident status icons */
.incident-status {
    margin-right: 5px;
    cursor: help;
    opacity: 0.7;
}

.incident-status.operational {
    color: #28a745;
}

.incident-status.degraded-performance {
    color: #ffc107;
}

.incident-status.partial-outage {
    color: #dc3545;
}

.incident-status.major-outage {
    color: #dc3545;
}

.incident-status.maintenance {
    color: #17a2b8;
}
