/* Reset some default styles */
html, body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: black;
}

/* Header styles */
header {
    background-color: #115697;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}


.header-container {
    max-width: 800px;
    margin: 0 auto;
}

.logo {
    max-width: 150px;
    margin-right: 20px;
}


.page-title {
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
}

.contact-buttons a {
    color: white;
    background-color: #0875C2;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}

.contact-buttons a:hover {
    background-color: #04689A;
}

/* Legend styles */
.legend {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.legend-item .incident-status {
    margin-right: 5px;
}

/* Main content styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Custom style for section dividers */
.section-divider {
    margin: 20px 0;
    border: 1px solid #ccc;
}

/* Incident section styles */
.incident-section {
    margin-bottom: 40px;
}

.incident-section h2 {
    color: #115697;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Incident styles */
.incident {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.incident:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.incident-date {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.incident-title {
    font-size: 20px;
    margin-bottom: 5px;
    color: #115697;
}

.incident-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.incident-statuses {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-top: 10px;
}

/* Customize incident status icons */
.incident-status {
    margin-right: 5px;
    cursor: help;
    opacity: 0.7;
}

.incident-status.operational {
    color: #28a745;
}

.incident-status.degraded-performance {
    color: #ffc107;
}

.incident-status.partial-outage {
    color: #dc3545;
}

.incident-status.major-outage {
    color: #dc3545;
}

.incident-status.maintenance {
    color: #17a2b8;
}


/* Footer styles */
footer {
    background-color: #115697;
    padding: 10px;
    text-align: center;
}

.footer-container {
    max-width: 800px;
    margin: 0 auto;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-copyright {
    color: white;
    font-size: 12px;
}
